.cart{
    position: sticky;
    top: 0;
}


button{
    padding: .5rem;
}
.btn-choosenOne{
    margin-right: 5px;
}

.choose{
    display: flex;
    margin: 0 2rem;
    align-items: center;
    
}

.choose img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
