.products-container{
    display: grid;
  grid-template-columns: 4fr 1fr;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 0 2rem 2rem 2rem;
}

.cart-container{
    
    background-color: rgb(247, 241, 241);
    border-radius: 2rem;
}

@media screen and (max-width: 1375px) {
    .products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }


  @media screen and (max-width: 992px) {
    .products {
      display: grid;
      grid-template-columns: 1fr;
    }

    .products-container{
      display: block;
  }
  /* .product-container{
      grid-template-columns: 1fr;
  } */
  }
  