.places-container{
    display: grid;
  grid-template-columns: 4fr 1fr;
}

.places {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 0 2rem 2rem 2rem;
}

.cart-container{
    
    background-color: rgb(247, 241, 241);
    border-radius: 2rem;
}

@media screen and (max-width: 1375px) {
    .places {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 45px;
    }
  }


  @media screen and (max-width: 992px) {
    .places {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 45px;
    }
  }
  